.page-wrapper {
    position: relative;
    outline: none;
}

.page-inner {
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
    padding: 40px;

    .btn-group {
        .btn {
            border-radius: 0px;
            background: #eee;
            border: 0px;
        }
    }
}
